In [1]:
import re
import matplotlib.pyplot as plt
import pandas as pd
import numpy

In [2]:
%matplotlib inline

In [3]:
!head Data/Master.csv

In [4]:
master = pd.read_csv('Data/Master.csv')

In [5]:
master.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981,12,27,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,205,75,R,R,4/6/2004,9/28/2013,aardd001,aardsda01
1,aaronha01,1934,2,5,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180,72,R,R,4/13/1954,10/3/1976,aaroh101,aaronha01
2,aaronto01,1939,8,5,USA,AL,Mobile,1984,8,16,...,Aaron,Tommie Lee,190,75,R,R,4/10/1962,9/26/1971,aarot101,aaronto01
3,aasedo01,1954,9,8,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190,75,R,R,7/26/1977,10/3/1990,aased001,aasedo01
4,abadan01,1972,8,25,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184,73,L,L,9/10/2001,4/13/2006,abada001,abadan01

In [6]:
master

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981,12,27,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,205,75,R,R,4/6/2004,9/28/2013,aardd001,aardsda01
1,aaronha01,1934,2,5,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180,72,R,R,4/13/1954,10/3/1976,aaroh101,aaronha01
2,aaronto01,1939,8,5,USA,AL,Mobile,1984,8,16,...,Aaron,Tommie Lee,190,75,R,R,4/10/1962,9/26/1971,aarot101,aaronto01
3,aasedo01,1954,9,8,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190,75,R,R,7/26/1977,10/3/1990,aased001,aasedo01
4,abadan01,1972,8,25,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184,73,L,L,9/10/2001,4/13/2006,abada001,abadan01
5,abadfe01,1985,12,17,D.R.,La Romana,La Romana,NaN,NaN,NaN,...,Abad,Fernando Antonio,220,73,L,L,7/28/2010,9/27/2014,abadf001,abadfe01
6,abadijo01,1854,11,4,USA,PA,Philadelphia,1905,5,17,...,Abadie,John W.,192,72,R,R,1875-04-26,1875-06-10,abadj101,abadijo01
7,abbated01,1877,4,15,USA,PA,Latrobe,1957,1,6,...,Abbaticchio,Edward James,170,71,R,R,1897-09-04,9/15/1910,abbae101,abbated01
8,abbeybe01,1869,11,11,USA,VT,Essex,1962,6,11,...,Abbey,Bert Wood,175,71,R,R,1892-06-14,1896-09-23,abbeb101,abbeybe01
9,abbeych01,1866,10,14,USA,NE,Falls City,1926,4,27,...,Abbey,Charles S.,169,68,L,L,1893-08-16,1897-08-19,abbec101,abbeych01
10,abbotda01,1862,3,16,USA,OH,Portage,1930,2,13,...,Abbott,Leander Franklin,190,71,R,R,1890-04-19,1890-05-23,abbod101,abbotda01
11,abbotfr01,1874,10,22,USA,OH,Versailles,1935,6,11,...,Abbott,Harry Frederick,180,70,R,R,4/25/1903,9/20/1905,abbof101,abbotfr01
12,abbotgl01,1951,2,16,USA,AR,Little Rock,NaN,NaN,NaN,...,Abbott,William Glenn,200,78,R,R,7/29/1973,8/8/1984,abbog001,abbotgl01
13,abbotje01,1972,8,17,USA,GA,Atlanta,NaN,NaN,NaN,...,Abbott,Jeffrey William,190,74,R,L,6/10/1997,9/29/2001,abboj002,abbotje01
14,abbotji01,1967,9,19,USA,MI,Flint,NaN,NaN,NaN,...,Abbott,James Anthony,200,75,L,L,4/8/1989,7/21/1999,abboj001,abbotji01
15,abbotku01,1969,6,2,USA,OH,Zanesville,NaN,NaN,NaN,...,Abbott,Kurt Thomas,180,71,R,R,9/7/1993,4/13/2001,abbok002,abbotku01
16,abbotky01,1968,2,18,USA,MA,Newburyport,NaN,NaN,NaN,...,Abbott,Lawrence Kyle,200,76,L,L,9/10/1991,8/24/1996,abbok001,abbotky01
17,abbotod01,1888,9,5,USA,PA,New Eagle,1933,4,13,...,Abbott,Ody Cleon,180,74,R,R,9/10/1910,10/15/1910,abboo101,abbotod01
18,abbotpa01,1967,9,15,USA,CA,Van Nuys,NaN,NaN,NaN,...,Abbott,Paul David,185,75,R,R,8/21/1990,8/7/2004,abbop001,abbotpa01
19,aberal01,1927,7,31,USA,OH,Cleveland,1993,5,20,...,Aber,Albert Julius,195,74,L,L,9/15/1950,9/11/1957,abera101,aberal01
20,abercda01,1850,1,2,USA,OK,Fort Towson,1939,11,11,...,Abercrombie,Francis Patterson,NaN,NaN,NaN,NaN,1871-10-21,1871-10-21,aberd101,abercda01
21,abercre01,1980,7,15,USA,GA,Columbus,NaN,NaN,NaN,...,Abercrombie,Reginald Damascus,215,75,R,R,4/4/2006,9/28/2008,aberr001,abercre01
22,abernbi01,1929,1,30,USA,CA,Torrance,2006,2,19,...,Abernathie,William Edward,190,70,R,R,9/27/1952,9/27/1952,aberb101,abernbi01
23,abernbr01,1977,9,23,USA,GA,Atlanta,NaN,NaN,NaN,...,Abernathy,Michael Brent,185,73,R,R,6/25/2001,9/29/2005,aberb001,abernbr01
24,abernte01,1921,10,30,USA,NC,Bynum,2001,11,16,...,Abernathy,Talmadge Lafayette,210,74,R,L,9/19/1942,4/29/1944,abert102,abernte01
25,abernte02,1933,3,6,USA,NC,Stanley,2004,12,16,...,Abernathy,Theodore Wade,215,76,R,R,4/13/1955,9/30/1972,abert101,abernte02
26,abernwo01,1915,2,1,USA,NC,Forest City,1994,12,5,...,Abernathy,Virgil Woodrow,170,72,L,L,7/28/1946,4/17/1947,aberw101,abernwo01
27,aberscl01,1921,8,28,USA,IL,Chicago,1973,6,23,...,Aberson,Clifford Alexander,200,72,R,R,7/18/1947,5/9/1949,aberc101,aberscl01
28,ablesha01,1883,10,4,USA,TX,Terrell,1951,2,8,...,Ables,Harry Terrell,200,74,R,L,9/4/1905,5/5/1911,ableh101,ablesha01
29,abnersh01,1966,6,17,USA,OH,Hamilton,NaN,NaN,NaN,...,Abner,Shawn Wesley,190,73,R,R,9/8/1987,10/3/1992,abnes001,abnersh01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18559,zimmejo01,1975,4,28,CAN,BC,Kelowna,NaN,NaN,NaN,...,Zimmerman,Jordan William,200,72,R,L,5/17/1999,7/2/1999,zimmj002,zimmejo01
18560,zimmejo02,1986,5,23,USA,WI,Auburndale,NaN,NaN,NaN,...,Zimmermann,Jordan M.,220,74,R,R,4/20/2009,9/28/2014,zimmj003,zimmejo02
18561,zimmero01,1916,9,13,USA,PA,Pine Grove,1991,11,22,...,Zimmerman,Roy Franklin,187,74,L,L,8/27/1945,9/30/1945,zimmr101,zimmero01
18562,zimmery01,1984,9,28,USA,NC,Washington,NaN,NaN,NaN,...,Zimmerman,Ryan Wallace,220,75,R,R,9/1/2005,9/28/2014,zimmr001,zimmery01
18563,zinkch01,1979,8,26,USA,CA,Carmichael,NaN,NaN,NaN,...,Zink,Charles Tadao,190,73,R,R,8/12/2008,8/12/2008,zinkc001,zinkch01
18564,zinkwa01,1898,11,21,USA,MA,Pittsfield,1964,6,12,...,Zink,Walter Noble,165,72,R,R,7/6/1921,7/19/1921,zinkw101,zinkwa01
18565,zinnfr01,1865,12,21,USA,PA,Phoenixville,1936,5,12,...,Zinn,Frank Patrick,150,68,NaN,NaN,1888-04-18,1888-05-03,zinnf101,zinnfr01
18566,zinngu01,1887,2,13,USA,WV,Holbrook,1949,10,6,...,Zinn,Guy,170,70,L,R,9/11/1911,9/16/1915,zinng101,zinngu01
18567,zinnji01,1895,1,21,USA,AR,Benton,1991,2,26,...,Zinn,James Edward,195,72,L,R,9/4/1919,8/25/1929,zinnj101,zinnji01
18568,zinsebi01,1918,1,6,USA,NY,Astoria,1993,2,16,...,Zinser,William Francis,185,73,R,R,8/19/1944,8/26/1944,zinsb101,zinsebi01
18569,zinteal01,1968,5,19,USA,TX,El Paso,NaN,NaN,NaN,...,Zinter,Alan Michael,200,74,B,R,6/18/2002,10/3/2004,zinta001,zinteal01
18570,zipfebu01,1938,11,18,USA,IL,Belleville,NaN,NaN,NaN,...,Zipfel,Marion Sylvester,200,75,L,R,7/26/1961,9/30/1962,zipfb101,zipfebu01
18571,ziskri01,1949,2,6,USA,NY,Brooklyn,NaN,NaN,NaN,...,Zisk,Richard Walter,200,73,R,R,9/8/1971,9/21/1983,ziskr101,ziskri01
18572,zitoba01,1978,5,13,USA,NV,Las Vegas,NaN,NaN,NaN,...,Zito,Barry William,205,74,L,L,7/22/2000,9/29/2013,zitob001,zitoba01
18573,zitzmbi01,1895,11,19,USA,NY,Long Island City,1985,5,29,...,Zitzmann,William Arthur,175,70,R,R,4/27/1919,9/25/1929,zitzb101,zitzmbi01
18574,zmiched01,1884,10,1,USA,OH,Cleveland,1950,8,20,...,Zmich,Edward Albert,180,72,L,L,7/23/1910,6/1/1911,zmice101,zmiched01
18575,zobribe01,1981,5,26,USA,IL,Eureka,NaN,NaN,NaN,...,Zobrist,Benjamin Thomas,210,75,B,R,8/1/2006,9/27/2014,zobrb001,zobribe01
18576,zoccope01,1977,2,6,USA,NY,Bronx,NaN,NaN,NaN,...,Zoccolillo,Peter Jude,200,74,L,R,9/5/2003,9/28/2003,zoccp001,zoccope01
18577,zoldasa01,1918,12,8,USA,NY,Brooklyn,1966,8,25,...,Zoldak,Samuel Walter,185,71,L,L,5/13/1944,8/26/1952,zolds101,zoldasa01
18578,zoskyed01,1968,2,10,USA,CA,Whittier,NaN,NaN,NaN,...,Zosky,Edward James,175,72,R,R,9/2/1991,10/1/2000,zoske001,zoskyed01
18579,zuberbi01,1913,3,26,USA,IA,Middle Amana,1982,11,2,...,Zuber,William Henry,195,74,R,R,9/16/1936,9/23/1947,zubeb101,zuberbi01
18580,zuberjo01,1969,12,10,USA,CA,Encino,NaN,NaN,NaN,...,Zuber,Jon Edward,190,73,L,L,4/19/1996,9/27/1998,zubej001,zuberjo01
18581,zuletju01,1975,3,28,Panama,Panama,Panama,NaN,NaN,NaN,...,Zuleta,Julio Ernesto,230,78,R,R,4/6/2000,6/25/2001,zulej001,zuletju01
18582,zumayjo01,1984,11,9,USA,CA,Chula Vista,NaN,NaN,NaN,...,Zumaya,Joel Martin,215,75,R,R,4/3/2006,6/28/2010,zumaj001,zumayjo01
18583,zuninmi01,1991,3,25,USA,FL,Cape Coral,NaN,NaN,NaN,...,Zunino,Michael Accorsi,220,74,R,R,6/12/2013,9/28/2014,zunim001,zuninmi01
18584,zupcibo01,1966,8,18,USA,PA,Pittsburgh,NaN,NaN,NaN,...,Zupcic,Robert,220,76,R,R,9/7/1991,8/4/1994,zupcb001,zupcibo01
18585,zupofr01,1939,8,29,USA,CA,San Francisco,2005,3,25,...,Zupo,Frank Joseph,182,71,L,R,7/1/1957,5/9/1961,zupof101,zupofr01
18586,zuvelpa01,1958,10,31,USA,CA,San Mateo,NaN,NaN,NaN,...,Zuvella,Paul,173,72,R,R,9/4/1982,5/2/1991,zuvep001,zuvelpa01
18587,zuverge01,1924,8,20,USA,MI,Holland,2014,9,8,...,Zuverink,George,195,76,R,R,4/21/1951,6/15/1959,zuveg101,zuverge01
18588,zwilldu01,1888,11,2,USA,MO,St. Louis,1978,3,27,...,Zwilling,Edward Harrison,160,66,L,L,8/14/1910,7/12/1916,zwild101,zwilldu01

In [7]:
batting = pd.read_csv('Data/Batting.csv')

In [8]:
batting

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13,8,1,4,0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19,3,1,2,5,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27,1,1,0,2,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16,6,2,2,1,NaN,NaN,NaN,NaN,NaN
5,armstbo01,1871,1,FW1,NaN,12,49,9,11,2,...,5,0,1,0,1,NaN,NaN,NaN,NaN,NaN
6,barkeal01,1871,1,RC1,NaN,1,4,0,1,0,...,2,0,0,1,0,NaN,NaN,NaN,NaN,NaN
7,barnero01,1871,1,BS1,NaN,31,157,66,63,10,...,34,11,6,13,1,NaN,NaN,NaN,NaN,NaN
8,barrebi01,1871,1,FW1,NaN,1,5,1,1,1,...,1,0,0,0,0,NaN,NaN,NaN,NaN,NaN
9,barrofr01,1871,1,BS1,NaN,18,86,13,13,2,...,11,1,0,0,0,NaN,NaN,NaN,NaN,NaN
10,bassjo01,1871,1,CL1,NaN,22,89,18,27,1,...,18,0,1,3,4,NaN,NaN,NaN,NaN,NaN
11,battijo01,1871,1,CL1,NaN,1,3,0,0,0,...,0,0,0,1,0,NaN,NaN,NaN,NaN,NaN
12,bealsto01,1871,1,WS3,NaN,10,36,6,7,0,...,1,2,0,2,0,NaN,NaN,NaN,NaN,NaN
13,beaveed01,1871,1,TRO,NaN,3,15,7,6,0,...,5,2,0,0,0,NaN,NaN,NaN,NaN,NaN
14,bechtge01,1871,1,PH1,NaN,20,94,24,33,9,...,21,4,0,2,2,NaN,NaN,NaN,NaN,NaN
15,bellast01,1871,1,TRO,NaN,29,128,26,32,3,...,23,4,4,9,2,NaN,NaN,NaN,NaN,NaN
16,berkena01,1871,1,PH1,NaN,1,4,0,0,0,...,0,0,0,0,3,NaN,NaN,NaN,NaN,NaN
17,berryto01,1871,1,PH1,NaN,1,4,0,1,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
18,berthha01,1871,1,WS3,NaN,17,73,17,17,1,...,8,3,1,4,2,NaN,NaN,NaN,NaN,NaN
19,biermch01,1871,1,FW1,NaN,1,2,0,0,0,...,0,0,0,1,0,NaN,NaN,NaN,NaN,NaN
20,birdge01,1871,1,RC1,NaN,25,106,19,28,2,...,13,1,0,3,2,NaN,NaN,NaN,NaN,NaN
21,birdsda01,1871,1,BS1,NaN,29,152,51,46,3,...,24,6,0,4,4,NaN,NaN,NaN,NaN,NaN
22,brainas01,1871,1,WS3,NaN,30,134,24,30,4,...,21,4,0,7,2,NaN,NaN,NaN,NaN,NaN
23,brannmi01,1871,1,CH1,NaN,3,14,2,1,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24,burrohe01,1871,1,WS3,NaN,12,63,11,15,2,...,14,0,0,1,1,NaN,NaN,NaN,NaN,NaN
25,careyto01,1871,1,FW1,NaN,19,87,16,20,2,...,10,5,0,2,1,NaN,NaN,NaN,NaN,NaN
26,carleji01,1871,1,CL1,NaN,29,127,31,32,8,...,18,2,1,8,3,NaN,NaN,NaN,NaN,NaN
27,conefr01,1871,1,BS1,NaN,19,77,17,20,3,...,16,12,1,8,2,NaN,NaN,NaN,NaN,NaN
28,connone01,1871,1,TRO,NaN,7,33,6,7,0,...,2,0,0,0,0,NaN,NaN,NaN,NaN,NaN
29,cravebi01,1871,1,TRO,NaN,27,118,26,38,8,...,26,6,3,3,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99816,wilsojo03,2014,1,TEX,AL,24,67,7,16,4,...,8,1,0,2,14,0,1,2,0,3
99817,wilsoju10,2014,1,PIT,NL,70,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
99818,withrch01,2014,1,LAN,NL,20,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99819,wolfra02,2014,1,MIA,NL,6,7,0,1,0,...,0,0,0,0,1,0,0,0,0,0
99820,wongko01,2014,1,SLN,NL,113,402,52,100,14,...,42,20,4,21,71,3,4,5,1,12
99821,woodal02,2014,1,ATL,NL,35,41,1,3,0,...,2,0,0,2,28,0,0,5,0,0
99822,woodbl01,2014,1,CLE,AL,7,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99823,woodtr01,2014,1,CHN,NL,41,56,9,13,2,...,10,0,0,1,17,0,2,7,0,1
99824,wootero01,2014,1,MIL,NL,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99825,workmbr01,2014,1,BOS,AL,19,3,0,0,0,...,0,0,0,0,3,0,0,1,0,0
99826,worleva01,2014,1,PIT,NL,20,32,1,2,1,...,0,0,0,1,17,0,0,5,0,0
99827,worthda01,2014,1,DET,AL,20,42,5,7,1,...,5,0,1,2,12,0,1,0,1,1
99828,wrighda03,2014,1,NYN,NL,134,535,54,144,30,...,63,8,5,42,113,5,4,0,5,22
99829,wrighja01,2014,1,LAN,NL,61,5,0,0,0,...,0,0,0,0,3,0,0,1,0,0
99830,wrighst01,2014,1,BOS,AL,6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99831,wrighwe01,2014,1,CHN,NL,58,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99832,yateski01,2014,1,TBA,AL,37,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99833,yelicch01,2014,1,MIA,NL,144,582,94,165,30,...,54,21,7,70,137,3,3,3,2,9
99834,ynoara01,2014,1,COL,NL,19,67,5,23,6,...,13,0,0,4,9,0,0,0,0,1
99835,youngch03,2014,1,SEA,AL,30,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99836,youngch04,2014,1,NYN,NL,88,254,31,52,12,...,28,7,3,25,54,2,4,1,3,3
99837,youngch04,2014,2,NYA,AL,23,71,9,20,8,...,10,1,0,7,16,0,1,0,0,0
99838,youngde03,2014,1,BAL,AL,83,242,27,73,11,...,30,2,0,10,51,0,3,0,0,6
99839,younger03,2014,1,NYN,NL,100,280,48,64,10,...,17,30,6,24,60,1,5,5,2,2
99840,zeidjo01,2014,1,HOU,AL,23,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
99841,zieglbr01,2014,1,ARI,NL,68,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
99842,zimmejo02,2014,1,WAS,NL,32,55,3,10,1,...,1,0,0,2,21,0,0,9,1,0
99843,zimmery01,2014,1,WAS,NL,61,214,26,60,19,...,38,0,0,22,37,0,0,0,4,6
99844,zobribe01,2014,1,TBA,AL,146,570,83,155,34,...,52,10,5,75,84,4,1,2,6,8
99845,zuninmi01,2014,1,SEA,AL,131,438,51,87,20,...,60,0,3,17,158,1,17,0,4,12

In [9]:
salary = pd.read_csv('Data/Salaries.csv')

In [10]:
salary

       yearID teamID lgID   playerID    salary
0        1985    ATL   NL  barkele01    870000
1        1985    ATL   NL  bedrost01    550000
2        1985    ATL   NL  benedbr01    545000
3        1985    ATL   NL   campri01    633333
4        1985    ATL   NL  ceronri01    625000
5        1985    ATL   NL  chambch01    800000
6        1985    ATL   NL  dedmoje01    150000
7        1985    ATL   NL  forstte01    483333
8        1985    ATL   NL  garbege01    772000
9        1985    ATL   NL  harpete01    250000
10       1985    ATL   NL  hornebo01   1500000
11       1985    ATL   NL  hubbagl01    455000
12       1985    ATL   NL  mahleri01    407500
13       1985    ATL   NL  mcmurcr01    275000
14       1985    ATL   NL  mumphje01    775000
15       1985    ATL   NL  murphda05   1625000
16       1985    ATL   NL  oberkke01    616667
17       1985    ATL   NL  perezpa01    450000
18       1985    ATL   NL  perryge01    120000
19       1985    ATL   NL  ramirra01    750000
20       1985    ATL   NL  suttebr01   1354167
21       1985    ATL   NL  washicl01    800000
22       1985    BAL   AL  boddimi01    625000
23       1985    BAL   AL  dauerri01    480000
24       1985    BAL   AL  davisst02    437500
25       1985    BAL   AL  dempsri01    512500
26       1985    BAL   AL  dwyerji01    375000
27       1985    BAL   AL  flanami01    641667
28       1985    BAL   AL   fordda01    450000
29       1985    BAL   AL  grosswa01    483333
...       ...    ...  ...        ...       ...
24728    2014    WAS   NL  blevije01   1675000
24729    2014    WAS   NL  cedenxa01    507800
24730    2014    WAS   NL  clippty01   5875000
24731    2014    WAS   NL  desmoia01   6500000
24732    2014    WAS   NL  detwiro01   3000000
24733    2014    WAS   NL  espinda01    540580
24734    2014    WAS   NL  fistedo01   7200000
24735    2014    WAS   NL  frandke01    900000
24736    2014    WAS   NL  gonzagi01   8500000
24737    2014    WAS   NL  hairssc01   2500000
24738    2014    WAS   NL  harpebr03   2150000
24739    2014    WAS   NL  jordata01    504300
24740    2014    WAS   NL  koberje01    501000
24741    2014    WAS   NL  larocad01  12000000
24742    2014    WAS   NL   leonsa01    501000
24743    2014    WAS   NL  lobatjo01    900000
24744    2014    WAS   NL  matthry01    520000
24745    2014    WAS   NL  mclouna01   5000000
24746    2014    WAS   NL  moorety01    507900
24747    2014    WAS   NL  ramoswi01   2095000
24748    2014    WAS   NL  rendoan01   1800000
24749    2014    WAS   NL  roarkta01    506100
24750    2014    WAS   NL  soriara01  11000000
24751    2014    WAS   NL   spande01   6500000
24752    2014    WAS   NL  stammcr01   1375000
24753    2014    WAS   NL  storedr01   3450000
24754    2014    WAS   NL  strasst01   3975000
24755    2014    WAS   NL  werthja01  20000000
24756    2014    WAS   NL  zimmejo02   7500000
24757    2014    WAS   NL  zimmery01  14000000

[24758 rows x 5 columns]

In [11]:
merge1=pd.merge(batting, master)

In [12]:
merge2=pd.merge(merge1, salary)

In [13]:
merge2

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID,salary
0,johnto01,1985,2,OAK,AL,11,NaN,NaN,NaN,NaN,...,Thomas Edward,180,75,R,L,9/6/1963,5/25/1989,johnt001,johnto01,600000
1,johnto01,1986,1,NYA,AL,13,NaN,NaN,NaN,NaN,...,Thomas Edward,180,75,R,L,9/6/1963,5/25/1989,johnt001,johnto01,60000
2,johnto01,1987,1,NYA,AL,33,NaN,NaN,NaN,NaN,...,Thomas Edward,180,75,R,L,9/6/1963,5/25/1989,johnt001,johnto01,350000
3,johnto01,1988,1,NYA,AL,35,NaN,NaN,NaN,NaN,...,Thomas Edward,180,75,R,L,9/6/1963,5/25/1989,johnt001,johnto01,375000
4,rosepe01,1985,1,CIN,NL,119,405,60,107,12,...,Peter Edward,192,71,B,R,4/8/1963,8/17/1986,rosep001,rosepe01,358858
5,rosepe01,1986,1,CIN,NL,72,237,15,52,8,...,Peter Edward,192,71,B,R,4/8/1963,8/17/1986,rosep001,rosepe01,1000000
6,staubru01,1985,1,NYN,NL,54,45,2,12,3,...,Daniel Joseph,190,74,L,R,4/9/1963,10/6/1985,staur001,staubru01,300000
7,niekrph01,1985,1,NYA,AL,33,NaN,NaN,NaN,NaN,...,Philip Henry,180,73,R,R,4/15/1964,9/27/1987,niekp001,niekrph01,600000
8,niekrph01,1986,1,CLE,AL,34,NaN,NaN,NaN,NaN,...,Philip Henry,180,73,R,R,4/15/1964,9/27/1987,niekp001,niekrph01,300000
9,perezto01,1985,1,CIN,NL,72,183,25,60,8,...,Atanasio,175,74,R,R,7/26/1964,10/5/1986,peret001,perezto01,225000
10,perezto01,1986,1,CIN,NL,77,200,14,51,12,...,Atanasio,175,74,R,R,7/26/1964,10/5/1986,peret001,perezto01,275000
11,carltst01,1985,1,PHI,NL,16,28,2,5,1,...,Steven Norman,210,76,L,L,4/12/1965,4/23/1988,carls001,carltst01,1075000
12,carltst01,1986,1,PHI,NL,16,34,3,7,1,...,Steven Norman,210,76,L,L,4/12/1965,4/23/1988,carls001,carltst01,1000000
13,carltst01,1986,3,CHA,AL,10,NaN,NaN,NaN,NaN,...,Steven Norman,210,76,L,L,4/12/1965,4/23/1988,carls001,carltst01,60000
14,carltst01,1988,1,MIN,AL,4,NaN,NaN,NaN,NaN,...,Steven Norman,210,76,L,L,4/12/1965,4/23/1988,carls001,carltst01,115000
15,johnsja01,1985,1,LAN,NL,17,15,0,2,1,...,John William,175,73,L,R,7/30/1966,10/6/1985,johnj002,johnsja01,150000
16,ryanno01,1985,1,HOU,NL,35,63,2,7,2,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,1350000
17,ryanno01,1986,1,HOU,NL,30,59,1,6,0,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,1125000
18,ryanno01,1987,1,HOU,NL,34,65,2,4,0,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,1225000
19,ryanno01,1988,1,HOU,NL,33,70,1,4,0,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,1000000
20,ryanno01,1989,1,TEX,AL,32,NaN,NaN,NaN,NaN,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,1800000
21,ryanno01,1990,1,TEX,AL,30,NaN,NaN,NaN,NaN,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,1400000
22,ryanno01,1991,1,TEX,AL,27,NaN,NaN,NaN,NaN,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,3300000
23,ryanno01,1992,1,TEX,AL,27,NaN,NaN,NaN,NaN,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,4200000
24,ryanno01,1993,1,TEX,AL,13,NaN,NaN,NaN,NaN,...,Lynn Nolan,170,74,R,R,9/11/1966,9/22/1993,ryann001,ryanno01,3757000
25,suttodo01,1985,2,CAL,AL,5,NaN,NaN,NaN,NaN,...,Donald Howard,185,73,R,R,4/14/1966,8/9/1988,suttd001,suttodo01,750000
26,suttodo01,1986,1,CAL,AL,34,NaN,NaN,NaN,NaN,...,Donald Howard,185,73,R,R,4/14/1966,8/9/1988,suttd001,suttodo01,890000
27,suttodo01,1987,1,CAL,AL,35,NaN,NaN,NaN,NaN,...,Donald Howard,185,73,R,R,4/14/1966,8/9/1988,suttd001,suttodo01,890000
28,suttodo01,1988,1,LAN,NL,16,23,1,2,0,...,Donald Howard,185,73,R,R,4/14/1966,8/9/1988,suttd001,suttodo01,350000
29,carewro01,1985,1,CAL,AL,127,443,69,124,17,...,Rodney Cline,170,72,L,R,4/11/1967,10/5/1985,carer001,carewro01,875000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23735,ruppca01,2014,1,PHI,NL,18,60,4,11,4,...,Cameron Arthur,250,74,R,R,9/10/2013,9/16/2014,ruppc001,ruppca01,500000
23736,ryuhy01,2013,1,LAN,NL,30,58,5,12,3,...,Hyun-jin,255,74,R,L,4/2/2013,9/12/2014,ryu-h001,ryuhy01,3333333
23737,ryuhy01,2014,1,LAN,NL,26,47,4,7,2,...,Hyun-jin,255,74,R,L,4/2/2013,9/12/2014,ryu-h001,ryuhy01,4333000
23738,salazda01,2014,1,CLE,AL,20,3,0,0,0,...,Daniel Dariel,190,72,L,R,7/11/2013,9/23/2014,salad001,salazda01,501500
23739,sanchto01,2014,1,PIT,NL,26,75,3,20,1,...,Jorge Anthony,225,71,R,R,6/23/2013,9/28/2014,sanct001,sanchto01,507000
23740,schoojo01,2014,1,BAL,AL,137,455,48,95,18,...,Jonathan Rufino Jezus,210,74,R,R,9/25/2013,9/28/2014,schoj001,schoojo01,500500
23741,semiema01,2013,1,CHA,AL,21,69,7,18,4,...,Marcus Andrew,195,73,R,R,9/4/2013,9/28/2014,semim001,semiema01,493000
23742,semiema01,2014,1,CHA,AL,64,231,30,54,10,...,Marcus Andrew,195,73,R,R,9/4/2013,9/28/2014,semim001,semiema01,500000
23743,shoemma01,2014,1,LAA,AL,27,1,0,0,0,...,Matthew David,225,74,R,R,9/20/2013,9/15/2014,shoem001,shoemma01,500500
23744,siegrke01,2014,1,SLN,NL,37,0,0,0,0,...,Kevin Ryan,215,77,L,L,6/6/2013,9/28/2014,siegk001,siegrke01,505000
23745,skipwky01,2013,1,MIA,NL,4,3,0,0,0,...,Kyle Trent,230,76,L,R,4/10/2013,5/11/2013,skipk001,skipwky01,490000
23746,sotone01,2014,1,CIN,NL,21,30,1,3,1,...,Neftali O.,215,73,R,R,5/18/2013,7/19/2014,soton001,sotone01,500000
23747,thielca01,2014,1,MIN,AL,54,0,0,0,0,...,Caleb John,195,72,R,L,5/20/2013,9/20/2014,thiec001,thielca01,510000
23748,ventuyo01,2014,1,KCA,AL,31,4,1,1,0,...,Yordano,180,72,R,R,9/17/2013,9/28/2014,venty001,ventuyo01,500500
23749,villajo01,2014,1,HOU,AL,87,263,31,55,13,...,Jonathan Rafael,205,73,B,R,7/22/2013,9/28/2014,villj001,villajo01,503800
23750,wachami01,2014,1,SLN,NL,19,29,1,1,0,...,Michael Joseph,210,78,R,R,5/30/2013,9/26/2014,wachm001,wachami01,510000
23751,webbda01,2014,1,CHA,AL,57,0,0,0,0,...,Robert McDaniel,215,75,R,R,9/4/2013,9/28/2014,webbd001,webbda01,500000
23752,withrch01,2014,1,LAN,NL,20,0,0,0,0,...,Christopher Michael,215,76,R,R,6/12/2013,5/20/2014,withc001,withrch01,506600
23753,wongko01,2014,1,SLN,NL,113,402,52,100,14,...,Kolten Kaha,185,69,L,R,8/16/2013,9/28/2014,wongk001,wongko01,500000
23754,woodal02,2014,1,ATL,NL,35,41,1,3,0,...,Robert Alexander,215,76,R,L,5/30/2013,9/23/2014,wooda002,woodal02,506250
23755,wootero01,2014,1,MIL,NL,40,0,0,0,0,...,Robert Davis,195,73,R,R,7/26/2013,9/14/2014,wootr001,wootero01,501000
23756,workmbr01,2014,1,BOS,AL,19,3,0,0,0,...,Brandon Carlin,225,77,R,R,7/10/2013,9/18/2014,workb001,workmbr01,518000
23757,wrighst01,2014,1,BOS,AL,6,0,0,0,0,...,Steven Richard,220,73,R,R,4/23/2013,9/26/2014,wrigs001,wrighst01,502000
23758,yelicch01,2014,1,MIA,NL,144,582,94,165,30,...,Christian Stephen,200,75,L,R,7/23/2013,9/28/2014,yelic001,yelicch01,505000
23759,zuninmi01,2014,1,SEA,AL,131,438,51,87,20,...,Michael Accorsi,220,74,R,R,6/12/2013,9/28/2014,zunim001,zuninmi01,504100
23760,abreujo02,2014,1,CHA,AL,145,556,80,176,35,...,Jose Dariel,255,75,R,R,3/31/2014,9/27/2014,abrej003,abreujo02,7000000
23761,gonzami05,2014,1,PHI,NL,6,0,0,0,0,...,Miguel Alfredo,200,75,R,R,9/3/2014,9/27/2014,gonzm006,gonzami05,3666667
23762,guerral01,2014,1,LAN,NL,11,13,0,1,0,...,Alexander,205,70,R,R,3/22/2014,9/28/2014,guera001,guerral01,4000000
23763,singljo02,2014,1,HOU,AL,95,310,42,52,13,...,Jonathan Lee,255,74,L,L,6/3/2014,9/28/2014,singj001,singljo02,1500000
23764,tanakma01,2014,1,NYA,AL,20,9,0,1,0,...,Masahiro,205,74,R,R,4/4/2014,9/27/2014,tanam001,tanakma01,22000000

In [14]:
fielding=pd.read_csv('Data/Fielding.csv')

In [15]:
merge3=pd.merge(merge2, fielding)

In [16]:
merge3

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,POS,GS,InnOuts,PO,A,E,DP,PB,WP,ZR
0,johnto01,1985,2,OAK,AL,11,NaN,NaN,NaN,NaN,...,P,11,144,4,13,0,0,NaN,NaN,NaN
1,johnto01,1986,1,NYA,AL,13,NaN,NaN,NaN,NaN,...,P,10,212,4,15,3,2,NaN,NaN,NaN
2,johnto01,1987,1,NYA,AL,33,NaN,NaN,NaN,NaN,...,P,33,563,4,31,5,1,NaN,NaN,NaN
3,johnto01,1988,1,NYA,AL,35,NaN,NaN,NaN,NaN,...,P,32,529,4,40,4,2,NaN,NaN,NaN
4,niekrph01,1985,1,NYA,AL,33,NaN,NaN,NaN,NaN,...,P,33,660,11,20,0,5,NaN,NaN,NaN
5,niekrph01,1986,1,CLE,AL,34,NaN,NaN,NaN,NaN,...,P,32,631,9,32,4,2,NaN,NaN,NaN
6,carltst01,1986,3,CHA,AL,10,NaN,NaN,NaN,NaN,...,P,10,190,1,7,0,1,NaN,NaN,NaN
7,carltst01,1988,1,MIN,AL,4,NaN,NaN,NaN,NaN,...,P,1,29,0,1,0,0,NaN,NaN,NaN
8,ryanno01,1989,1,TEX,AL,32,NaN,NaN,NaN,NaN,...,P,32,718,11,19,3,0,NaN,NaN,NaN
9,ryanno01,1990,1,TEX,AL,30,NaN,NaN,NaN,NaN,...,P,30,612,7,13,0,1,NaN,NaN,NaN
10,ryanno01,1991,1,TEX,AL,27,NaN,NaN,NaN,NaN,...,P,27,519,7,14,0,1,NaN,NaN,NaN
11,ryanno01,1992,1,TEX,AL,27,NaN,NaN,NaN,NaN,...,P,27,472,2,16,3,1,NaN,NaN,NaN
12,ryanno01,1993,1,TEX,AL,13,NaN,NaN,NaN,NaN,...,P,13,199,1,4,3,0,NaN,NaN,NaN
13,suttodo01,1985,2,CAL,AL,5,NaN,NaN,NaN,NaN,...,P,5,95,1,1,0,0,NaN,NaN,NaN
14,suttodo01,1986,1,CAL,AL,34,NaN,NaN,NaN,NaN,...,P,34,621,18,14,2,1,NaN,NaN,NaN
15,suttodo01,1987,1,CAL,AL,35,NaN,NaN,NaN,NaN,...,P,34,575,8,18,0,1,NaN,NaN,NaN
16,niekrjo01,1986,1,NYA,AL,25,NaN,NaN,NaN,NaN,...,P,25,377,9,13,1,2,NaN,NaN,NaN
17,niekrjo01,1988,1,MIN,AL,5,NaN,NaN,NaN,NaN,...,P,2,35,2,3,0,1,NaN,NaN,NaN
18,seaveto01,1986,1,CHA,AL,12,NaN,NaN,NaN,NaN,...,P,12,216,4,7,0,0,NaN,NaN,NaN
19,fingero01,1985,1,ML4,AL,47,NaN,NaN,NaN,NaN,...,P,0,166,7,10,0,1,NaN,NaN,NaN
20,garbege01,1988,1,KCA,AL,26,NaN,NaN,NaN,NaN,...,P,0,98,3,6,1,1,NaN,NaN,NaN
21,reussje01,1988,1,CHA,AL,32,NaN,NaN,NaN,NaN,...,P,29,549,10,27,1,2,NaN,NaN,NaN
22,reussje01,1989,1,CHA,AL,23,NaN,NaN,NaN,NaN,...,P,19,320,3,9,0,1,NaN,NaN,NaN
23,blylebe01,1985,1,CLE,AL,23,NaN,NaN,NaN,NaN,...,P,23,539,11,19,0,0,NaN,NaN,NaN
24,blylebe01,1986,1,MIN,AL,36,NaN,NaN,NaN,NaN,...,P,36,815,15,31,0,0,NaN,NaN,NaN
25,blylebe01,1987,1,MIN,AL,37,NaN,NaN,NaN,NaN,...,P,37,801,17,43,4,3,NaN,NaN,NaN
26,blylebe01,1988,1,MIN,AL,33,NaN,NaN,NaN,NaN,...,P,33,622,12,22,1,3,NaN,NaN,NaN
27,blylebe01,1989,1,CAL,AL,33,NaN,NaN,NaN,NaN,...,P,33,723,14,38,0,6,NaN,NaN,NaN
28,blylebe01,1990,1,CAL,AL,23,NaN,NaN,NaN,NaN,...,P,23,402,3,24,1,0,NaN,NaN,NaN
29,blylebe01,1992,1,CAL,AL,25,NaN,NaN,NaN,NaN,...,P,24,399,5,13,0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1862,rizzoto01,1998,1,CHA,AL,9,NaN,NaN,NaN,NaN,...,P,0,20,0,0,1,0,NaN,NaN,NaN
1863,runyase01,1999,1,DET,AL,12,NaN,NaN,NaN,NaN,...,P,0,32,1,3,0,0,NaN,NaN,NaN
1864,sinclst01,1998,1,TOR,AL,24,NaN,NaN,NaN,NaN,...,P,0,45,0,4,0,1,NaN,NaN,NaN
1865,snydejo02,1999,1,CHA,AL,25,NaN,NaN,NaN,NaN,...,P,25,388,10,16,0,1,NaN,NaN,NaN
1866,steinbl01,1999,2,KCA,AL,12,NaN,NaN,NaN,NaN,...,P,11,211,2,4,0,0,NaN,NaN,NaN
1867,tessmja01,1998,1,NYA,AL,7,NaN,NaN,NaN,NaN,...,P,0,26,0,0,0,0,NaN,NaN,NaN
1868,wardbr01,1998,1,CHA,AL,28,NaN,NaN,NaN,NaN,...,P,0,81,2,0,0,0,NaN,NaN,NaN
1869,weaveer01,1999,1,SEA,AL,8,NaN,NaN,NaN,NaN,...,P,0,28,0,1,1,0,NaN,NaN,NaN
1870,cordefr01,1999,1,DET,AL,20,NaN,NaN,NaN,NaN,...,P,0,57,2,5,0,1,NaN,NaN,NaN
1871,daveyto01,1999,2,SEA,AL,16,NaN,NaN,NaN,NaN,...,P,0,63,0,3,0,0,NaN,NaN,NaN
1872,depause01,1999,1,CLE,AL,11,NaN,NaN,NaN,NaN,...,P,0,35,0,2,0,0,NaN,NaN,NaN
1873,hinchbr01,1999,1,SEA,AL,11,NaN,NaN,NaN,NaN,...,P,4,92,5,2,1,0,NaN,NaN,NaN
1874,lundqda01,1999,1,CHA,AL,17,NaN,NaN,NaN,NaN,...,P,0,66,1,2,0,0,NaN,NaN,NaN
1875,morenor01,1999,1,KCA,AL,7,NaN,NaN,NaN,NaN,...,P,0,24,1,1,0,0,NaN,NaN,NaN
1876,munrope01,1999,1,TOR,AL,31,NaN,NaN,NaN,NaN,...,P,2,166,3,8,0,0,NaN,NaN,NaN
1877,newmaal02,1999,1,TBA,AL,18,NaN,NaN,NaN,NaN,...,P,0,47,0,1,1,0,NaN,NaN,NaN
1878,ortizra01,1999,1,ANA,AL,9,NaN,NaN,NaN,NaN,...,P,9,145,4,6,0,0,NaN,NaN,NaN
1879,penaje01,1999,1,CHA,AL,26,NaN,NaN,NaN,NaN,...,P,0,61,0,5,0,0,NaN,NaN,NaN
1880,potelo01,1999,1,ANA,AL,20,NaN,NaN,NaN,NaN,...,P,0,88,0,5,0,1,NaN,NaN,NaN
1881,ramsaro01,1999,1,SEA,AL,6,NaN,NaN,NaN,NaN,...,P,3,55,0,1,0,0,NaN,NaN,NaN
1882,riskeda01,1999,1,CLE,AL,12,NaN,NaN,NaN,NaN,...,P,0,42,1,2,1,0,NaN,NaN,NaN
1883,ryanbj01,1999,2,BAL,AL,13,NaN,NaN,NaN,NaN,...,P,0,55,0,1,0,0,NaN,NaN,NaN
1884,ryanja04,1999,1,MIN,AL,8,NaN,NaN,NaN,NaN,...,P,8,122,3,4,0,1,NaN,NaN,NaN
1885,wilsova01,1999,1,NYN,NL,1,0,0,0,0,...,C,0,3,0,0,0,0,0,0,0
1886,lunarfe01,2002,1,BAL,AL,2,0,0,0,0,...,C,NaN,6,2,0,0,0,0,NaN,NaN
1887,quirogu01,2006,1,SEA,AL,1,2,0,0,0,...,C,NaN,24,5,0,0,0,0,NaN,NaN
1888,tupmama01,2008,1,KCA,AL,1,1,0,1,0,...,C,NaN,3,0,0,0,0,0,NaN,NaN
1889,hestejo01,2013,1,LAA,AL,1,0,1,0,0,...,C,NaN,3,1,0,0,0,0,NaN,NaN
1890,buterdr01,2013,1,MIN,AL,2,3,0,0,0,...,C,NaN,27,3,0,0,0,0,NaN,NaN
1891,pinama01,2012,1,KCA,AL,1,2,0,0,0,...,C,NaN,9,4,0,0,0,0,NaN,NaN

In [17]:
merge3

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,POS,GS,InnOuts,PO,A,E,DP,PB,WP,ZR
0,johnto01,1985,2,OAK,AL,11,NaN,NaN,NaN,NaN,...,P,11,144,4,13,0,0,NaN,NaN,NaN
1,johnto01,1986,1,NYA,AL,13,NaN,NaN,NaN,NaN,...,P,10,212,4,15,3,2,NaN,NaN,NaN
2,johnto01,1987,1,NYA,AL,33,NaN,NaN,NaN,NaN,...,P,33,563,4,31,5,1,NaN,NaN,NaN
3,johnto01,1988,1,NYA,AL,35,NaN,NaN,NaN,NaN,...,P,32,529,4,40,4,2,NaN,NaN,NaN
4,niekrph01,1985,1,NYA,AL,33,NaN,NaN,NaN,NaN,...,P,33,660,11,20,0,5,NaN,NaN,NaN
5,niekrph01,1986,1,CLE,AL,34,NaN,NaN,NaN,NaN,...,P,32,631,9,32,4,2,NaN,NaN,NaN
6,carltst01,1986,3,CHA,AL,10,NaN,NaN,NaN,NaN,...,P,10,190,1,7,0,1,NaN,NaN,NaN
7,carltst01,1988,1,MIN,AL,4,NaN,NaN,NaN,NaN,...,P,1,29,0,1,0,0,NaN,NaN,NaN
8,ryanno01,1989,1,TEX,AL,32,NaN,NaN,NaN,NaN,...,P,32,718,11,19,3,0,NaN,NaN,NaN
9,ryanno01,1990,1,TEX,AL,30,NaN,NaN,NaN,NaN,...,P,30,612,7,13,0,1,NaN,NaN,NaN
10,ryanno01,1991,1,TEX,AL,27,NaN,NaN,NaN,NaN,...,P,27,519,7,14,0,1,NaN,NaN,NaN
11,ryanno01,1992,1,TEX,AL,27,NaN,NaN,NaN,NaN,...,P,27,472,2,16,3,1,NaN,NaN,NaN
12,ryanno01,1993,1,TEX,AL,13,NaN,NaN,NaN,NaN,...,P,13,199,1,4,3,0,NaN,NaN,NaN
13,suttodo01,1985,2,CAL,AL,5,NaN,NaN,NaN,NaN,...,P,5,95,1,1,0,0,NaN,NaN,NaN
14,suttodo01,1986,1,CAL,AL,34,NaN,NaN,NaN,NaN,...,P,34,621,18,14,2,1,NaN,NaN,NaN
15,suttodo01,1987,1,CAL,AL,35,NaN,NaN,NaN,NaN,...,P,34,575,8,18,0,1,NaN,NaN,NaN
16,niekrjo01,1986,1,NYA,AL,25,NaN,NaN,NaN,NaN,...,P,25,377,9,13,1,2,NaN,NaN,NaN
17,niekrjo01,1988,1,MIN,AL,5,NaN,NaN,NaN,NaN,...,P,2,35,2,3,0,1,NaN,NaN,NaN
18,seaveto01,1986,1,CHA,AL,12,NaN,NaN,NaN,NaN,...,P,12,216,4,7,0,0,NaN,NaN,NaN
19,fingero01,1985,1,ML4,AL,47,NaN,NaN,NaN,NaN,...,P,0,166,7,10,0,1,NaN,NaN,NaN
20,garbege01,1988,1,KCA,AL,26,NaN,NaN,NaN,NaN,...,P,0,98,3,6,1,1,NaN,NaN,NaN
21,reussje01,1988,1,CHA,AL,32,NaN,NaN,NaN,NaN,...,P,29,549,10,27,1,2,NaN,NaN,NaN
22,reussje01,1989,1,CHA,AL,23,NaN,NaN,NaN,NaN,...,P,19,320,3,9,0,1,NaN,NaN,NaN
23,blylebe01,1985,1,CLE,AL,23,NaN,NaN,NaN,NaN,...,P,23,539,11,19,0,0,NaN,NaN,NaN
24,blylebe01,1986,1,MIN,AL,36,NaN,NaN,NaN,NaN,...,P,36,815,15,31,0,0,NaN,NaN,NaN
25,blylebe01,1987,1,MIN,AL,37,NaN,NaN,NaN,NaN,...,P,37,801,17,43,4,3,NaN,NaN,NaN
26,blylebe01,1988,1,MIN,AL,33,NaN,NaN,NaN,NaN,...,P,33,622,12,22,1,3,NaN,NaN,NaN
27,blylebe01,1989,1,CAL,AL,33,NaN,NaN,NaN,NaN,...,P,33,723,14,38,0,6,NaN,NaN,NaN
28,blylebe01,1990,1,CAL,AL,23,NaN,NaN,NaN,NaN,...,P,23,402,3,24,1,0,NaN,NaN,NaN
29,blylebe01,1992,1,CAL,AL,25,NaN,NaN,NaN,NaN,...,P,24,399,5,13,0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1862,rizzoto01,1998,1,CHA,AL,9,NaN,NaN,NaN,NaN,...,P,0,20,0,0,1,0,NaN,NaN,NaN
1863,runyase01,1999,1,DET,AL,12,NaN,NaN,NaN,NaN,...,P,0,32,1,3,0,0,NaN,NaN,NaN
1864,sinclst01,1998,1,TOR,AL,24,NaN,NaN,NaN,NaN,...,P,0,45,0,4,0,1,NaN,NaN,NaN
1865,snydejo02,1999,1,CHA,AL,25,NaN,NaN,NaN,NaN,...,P,25,388,10,16,0,1,NaN,NaN,NaN
1866,steinbl01,1999,2,KCA,AL,12,NaN,NaN,NaN,NaN,...,P,11,211,2,4,0,0,NaN,NaN,NaN
1867,tessmja01,1998,1,NYA,AL,7,NaN,NaN,NaN,NaN,...,P,0,26,0,0,0,0,NaN,NaN,NaN
1868,wardbr01,1998,1,CHA,AL,28,NaN,NaN,NaN,NaN,...,P,0,81,2,0,0,0,NaN,NaN,NaN
1869,weaveer01,1999,1,SEA,AL,8,NaN,NaN,NaN,NaN,...,P,0,28,0,1,1,0,NaN,NaN,NaN
1870,cordefr01,1999,1,DET,AL,20,NaN,NaN,NaN,NaN,...,P,0,57,2,5,0,1,NaN,NaN,NaN
1871,daveyto01,1999,2,SEA,AL,16,NaN,NaN,NaN,NaN,...,P,0,63,0,3,0,0,NaN,NaN,NaN
1872,depause01,1999,1,CLE,AL,11,NaN,NaN,NaN,NaN,...,P,0,35,0,2,0,0,NaN,NaN,NaN
1873,hinchbr01,1999,1,SEA,AL,11,NaN,NaN,NaN,NaN,...,P,4,92,5,2,1,0,NaN,NaN,NaN
1874,lundqda01,1999,1,CHA,AL,17,NaN,NaN,NaN,NaN,...,P,0,66,1,2,0,0,NaN,NaN,NaN
1875,morenor01,1999,1,KCA,AL,7,NaN,NaN,NaN,NaN,...,P,0,24,1,1,0,0,NaN,NaN,NaN
1876,munrope01,1999,1,TOR,AL,31,NaN,NaN,NaN,NaN,...,P,2,166,3,8,0,0,NaN,NaN,NaN
1877,newmaal02,1999,1,TBA,AL,18,NaN,NaN,NaN,NaN,...,P,0,47,0,1,1,0,NaN,NaN,NaN
1878,ortizra01,1999,1,ANA,AL,9,NaN,NaN,NaN,NaN,...,P,9,145,4,6,0,0,NaN,NaN,NaN
1879,penaje01,1999,1,CHA,AL,26,NaN,NaN,NaN,NaN,...,P,0,61,0,5,0,0,NaN,NaN,NaN
1880,potelo01,1999,1,ANA,AL,20,NaN,NaN,NaN,NaN,...,P,0,88,0,5,0,1,NaN,NaN,NaN
1881,ramsaro01,1999,1,SEA,AL,6,NaN,NaN,NaN,NaN,...,P,3,55,0,1,0,0,NaN,NaN,NaN
1882,riskeda01,1999,1,CLE,AL,12,NaN,NaN,NaN,NaN,...,P,0,42,1,2,1,0,NaN,NaN,NaN
1883,ryanbj01,1999,2,BAL,AL,13,NaN,NaN,NaN,NaN,...,P,0,55,0,1,0,0,NaN,NaN,NaN
1884,ryanja04,1999,1,MIN,AL,8,NaN,NaN,NaN,NaN,...,P,8,122,3,4,0,1,NaN,NaN,NaN
1885,wilsova01,1999,1,NYN,NL,1,0,0,0,0,...,C,0,3,0,0,0,0,0,0,0
1886,lunarfe01,2002,1,BAL,AL,2,0,0,0,0,...,C,NaN,6,2,0,0,0,0,NaN,NaN
1887,quirogu01,2006,1,SEA,AL,1,2,0,0,0,...,C,NaN,24,5,0,0,0,0,NaN,NaN
1888,tupmama01,2008,1,KCA,AL,1,1,0,1,0,...,C,NaN,3,0,0,0,0,0,NaN,NaN
1889,hestejo01,2013,1,LAA,AL,1,0,1,0,0,...,C,NaN,3,1,0,0,0,0,NaN,NaN
1890,buterdr01,2013,1,MIN,AL,2,3,0,0,0,...,C,NaN,27,3,0,0,0,0,NaN,NaN
1891,pinama01,2012,1,KCA,AL,1,2,0,0,0,...,C,NaN,9,4,0,0,0,0,NaN,NaN

In [18]:
merge3 = merge3[merge3.yearID==1985]

In [19]:
merge3

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,POS,GS,InnOuts,PO,A,E,DP,PB,WP,ZR
0,johnto01,1985,2,OAK,AL,11,NaN,NaN,NaN,NaN,...,P,11,144,4,13,0,0,NaN,NaN,NaN
4,niekrph01,1985,1,NYA,AL,33,NaN,NaN,NaN,NaN,...,P,33,660,11,20,0,5,NaN,NaN,NaN
13,suttodo01,1985,2,CAL,AL,5,NaN,NaN,NaN,NaN,...,P,5,95,1,1,0,0,NaN,NaN,NaN
19,fingero01,1985,1,ML4,AL,47,NaN,NaN,NaN,NaN,...,P,0,166,7,10,0,1,NaN,NaN,NaN
23,blylebe01,1985,1,CLE,AL,23,NaN,NaN,NaN,NaN,...,P,23,539,11,19,0,0,NaN,NaN,NaN
31,houghch01,1985,1,TEX,AL,34,NaN,NaN,NaN,NaN,...,P,34,751,18,35,2,5,NaN,NaN,NaN
38,wilcomi01,1985,1,DET,AL,8,NaN,NaN,NaN,NaN,...,P,8,117,3,12,2,2,NaN,NaN,NaN
40,alexado01,1985,1,TOR,AL,36,NaN,NaN,NaN,NaN,...,P,36,782,28,32,1,4,NaN,NaN,NaN
44,hootobu01,1985,1,TEX,AL,29,NaN,NaN,NaN,NaN,...,P,20,372,9,13,1,0,NaN,NaN,NaN
45,kisonbr01,1985,1,BOS,AL,22,NaN,NaN,NaN,NaN,...,P,9,276,16,16,0,2,NaN,NaN,NaN
46,slatoji01,1985,1,CAL,AL,29,NaN,NaN,NaN,NaN,...,P,24,445,6,22,1,4,NaN,NaN,NaN
49,burrira01,1985,1,ML4,AL,29,NaN,NaN,NaN,NaN,...,P,28,511,18,19,2,0,NaN,NaN,NaN
51,tananfr01,1985,1,TEX,AL,13,NaN,NaN,NaN,NaN,...,P,13,233,5,11,1,1,NaN,NaN,NaN
57,zahnge01,1985,1,CAL,AL,7,NaN,NaN,NaN,NaN,...,P,7,111,1,9,0,0,NaN,NaN,NaN
58,easteja01,1985,1,CLE,AL,50,NaN,NaN,NaN,NaN,...,P,7,296,11,10,0,1,NaN,NaN,NaN
62,lavelga01,1985,1,TOR,AL,69,NaN,NaN,NaN,NaN,...,P,0,218,2,9,0,1,NaN,NaN,NaN
64,leonade01,1985,1,KCA,AL,2,NaN,NaN,NaN,NaN,...,P,0,6,0,0,0,0,NaN,NaN,NaN
66,martiti01,1985,1,BAL,AL,49,NaN,NaN,NaN,NaN,...,P,0,210,9,10,1,1,NaN,NaN,NaN
68,montejo01,1985,1,NYA,AL,3,NaN,NaN,NaN,NaN,...,P,1,21,1,1,0,0,NaN,NaN,NaN
71,ruhleve01,1985,1,CLE,AL,42,NaN,NaN,NaN,NaN,...,P,16,375,15,13,0,0,NaN,NaN,NaN
73,candejo01,1985,2,CAL,AL,13,NaN,NaN,NaN,NaN,...,P,13,213,2,8,1,0,NaN,NaN,NaN
81,flanami01,1985,1,BAL,AL,15,NaN,NaN,NaN,NaN,...,P,15,258,4,11,0,0,NaN,NaN,NaN
88,guidrro01,1985,1,NYA,AL,34,NaN,NaN,NaN,NaN,...,P,33,777,6,34,1,3,NaN,NaN,NaN
92,mcclubo01,1985,1,ML4,AL,38,NaN,NaN,NaN,NaN,...,P,1,257,3,11,0,2,NaN,NaN,NaN
100,mooredo01,1985,1,CAL,AL,65,NaN,NaN,NaN,NaN,...,P,0,309,4,12,2,1,NaN,NaN,NaN
104,vuckope01,1985,1,ML4,AL,22,NaN,NaN,NaN,NaN,...,P,22,338,5,14,1,1,NaN,NaN,NaN
108,haasmo01,1985,1,ML4,AL,27,NaN,NaN,NaN,NaN,...,P,26,485,17,15,4,1,NaN,NaN,NaN
110,langfri01,1985,1,OAK,AL,23,NaN,NaN,NaN,NaN,...,P,3,177,2,9,0,1,NaN,NaN,NaN
111,martide01,1985,1,BAL,AL,33,NaN,NaN,NaN,NaN,...,P,31,540,17,26,1,0,NaN,NaN,NaN
116,mcgresc01,1985,1,BAL,AL,35,NaN,NaN,NaN,NaN,...,P,34,612,13,26,1,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333,blackbu02,1985,1,KCA,AL,33,NaN,NaN,NaN,NaN,...,P,33,617,6,30,4,0,NaN,NaN,NaN
368,sanchlu01,1985,1,CAL,AL,26,NaN,NaN,NaN,NaN,...,P,0,184,3,11,1,1,NaN,NaN,NaN
376,wittmi01,1985,1,CAL,AL,35,NaN,NaN,NaN,NaN,...,P,35,750,16,33,2,2,NaN,NaN,NaN
383,boydoi01,1985,1,BOS,AL,35,NaN,NaN,NaN,NaN,...,P,35,817,42,41,1,2,NaN,NaN,NaN
389,codirch01,1985,1,OAK,AL,37,NaN,NaN,NaN,NaN,...,P,37,678,18,27,4,1,NaN,NaN,NaN
391,cowlejo01,1985,1,NYA,AL,30,NaN,NaN,NaN,NaN,...,P,26,479,6,22,3,1,NaN,NaN,NaN
392,davisst02,1985,1,BAL,AL,31,NaN,NaN,NaN,NaN,...,P,28,525,15,20,0,0,NaN,NaN,NaN
409,filsope01,1985,1,MIN,AL,40,NaN,NaN,NaN,NaN,...,P,6,287,3,13,2,0,NaN,NaN,NaN
415,heatone01,1985,1,CLE,AL,36,NaN,NaN,NaN,NaN,...,P,33,623,8,21,1,1,NaN,NaN,NaN
419,henketo01,1985,1,TOR,AL,28,NaN,NaN,NaN,NaN,...,P,0,120,3,3,0,0,NaN,NaN,NaN
430,mooremi01,1985,1,SEA,AL,35,NaN,NaN,NaN,NaN,...,P,34,741,21,43,2,1,NaN,NaN,NaN
439,nunezed01,1985,1,SEA,AL,70,NaN,NaN,NaN,NaN,...,P,0,271,5,12,0,1,NaN,NaN,NaN
446,smithmi03,1985,1,MIN,AL,37,NaN,NaN,NaN,NaN,...,P,37,771,16,28,2,4,NaN,NaN,NaN
449,terrewa01,1985,1,DET,AL,34,NaN,NaN,NaN,NaN,...,P,34,687,21,43,2,8,NaN,NaN,NaN
455,vandeed01,1985,1,SEA,AL,76,NaN,NaN,NaN,NaN,...,P,0,203,8,11,0,1,NaN,NaN,NaN
457,violafr01,1985,1,MIN,AL,36,NaN,NaN,NaN,NaN,...,P,36,752,6,33,5,0,NaN,NaN,NaN
463,ackerji01,1985,1,TOR,AL,61,NaN,NaN,NaN,NaN,...,P,0,259,10,16,0,1,NaN,NaN,NaN
465,atherke01,1985,1,OAK,AL,56,NaN,NaN,NaN,NaN,...,P,0,314,4,6,1,0,NaN,NaN,NaN
492,jacksda02,1985,1,KCA,AL,32,NaN,NaN,NaN,NaN,...,P,32,624,8,27,3,2,NaN,NaN,NaN
505,nippeal01,1985,1,BOS,AL,25,NaN,NaN,NaN,NaN,...,P,25,486,24,28,5,4,NaN,NaN,NaN
531,youngma01,1985,1,SEA,AL,37,NaN,NaN,NaN,NaN,...,P,35,655,6,24,1,1,NaN,NaN,NaN
539,clemero02,1985,1,BOS,AL,15,NaN,NaN,NaN,NaN,...,P,15,295,12,9,0,1,NaN,NaN,NaN
550,clibust02,1985,1,CAL,AL,44,NaN,NaN,NaN,NaN,...,P,0,297,8,17,0,3,NaN,NaN,NaN
568,gubicma01,1985,1,KCA,AL,29,NaN,NaN,NaN,NaN,...,P,28,532,23,26,0,4,NaN,NaN,NaN
600,langsma01,1985,1,SEA,AL,24,NaN,NaN,NaN,NaN,...,P,24,380,9,26,2,4,NaN,NaN,NaN
622,romanro01,1985,1,CAL,AL,31,NaN,NaN,NaN,NaN,...,P,31,585,10,18,1,0,NaN,NaN,NaN
624,saberbr01,1985,1,KCA,AL,32,NaN,NaN,NaN,NaN,...,P,32,706,22,38,2,4,NaN,NaN,NaN
642,birtsti01,1985,1,OAK,AL,29,NaN,NaN,NaN,NaN,...,P,25,424,0,11,1,1,NaN,NaN,NaN
673,higuete01,1985,1,ML4,AL,32,NaN,NaN,NaN,NaN,...,P,30,637,8,18,1,2,NaN,NaN,NaN
691,mccaski01,1985,1,CAL,AL,30,NaN,NaN,NaN,NaN,...,P,29,569,11,27,3,1,NaN,NaN,NaN

In [20]:
merge3.AB.dropna()

Series([], Name: AB, dtype: float64)

In [21]:
merge3

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,POS,GS,InnOuts,PO,A,E,DP,PB,WP,ZR
0,johnto01,1985,2,OAK,AL,11,NaN,NaN,NaN,NaN,...,P,11,144,4,13,0,0,NaN,NaN,NaN
4,niekrph01,1985,1,NYA,AL,33,NaN,NaN,NaN,NaN,...,P,33,660,11,20,0,5,NaN,NaN,NaN
13,suttodo01,1985,2,CAL,AL,5,NaN,NaN,NaN,NaN,...,P,5,95,1,1,0,0,NaN,NaN,NaN
19,fingero01,1985,1,ML4,AL,47,NaN,NaN,NaN,NaN,...,P,0,166,7,10,0,1,NaN,NaN,NaN
23,blylebe01,1985,1,CLE,AL,23,NaN,NaN,NaN,NaN,...,P,23,539,11,19,0,0,NaN,NaN,NaN
31,houghch01,1985,1,TEX,AL,34,NaN,NaN,NaN,NaN,...,P,34,751,18,35,2,5,NaN,NaN,NaN
38,wilcomi01,1985,1,DET,AL,8,NaN,NaN,NaN,NaN,...,P,8,117,3,12,2,2,NaN,NaN,NaN
40,alexado01,1985,1,TOR,AL,36,NaN,NaN,NaN,NaN,...,P,36,782,28,32,1,4,NaN,NaN,NaN
44,hootobu01,1985,1,TEX,AL,29,NaN,NaN,NaN,NaN,...,P,20,372,9,13,1,0,NaN,NaN,NaN
45,kisonbr01,1985,1,BOS,AL,22,NaN,NaN,NaN,NaN,...,P,9,276,16,16,0,2,NaN,NaN,NaN
46,slatoji01,1985,1,CAL,AL,29,NaN,NaN,NaN,NaN,...,P,24,445,6,22,1,4,NaN,NaN,NaN
49,burrira01,1985,1,ML4,AL,29,NaN,NaN,NaN,NaN,...,P,28,511,18,19,2,0,NaN,NaN,NaN
51,tananfr01,1985,1,TEX,AL,13,NaN,NaN,NaN,NaN,...,P,13,233,5,11,1,1,NaN,NaN,NaN
57,zahnge01,1985,1,CAL,AL,7,NaN,NaN,NaN,NaN,...,P,7,111,1,9,0,0,NaN,NaN,NaN
58,easteja01,1985,1,CLE,AL,50,NaN,NaN,NaN,NaN,...,P,7,296,11,10,0,1,NaN,NaN,NaN
62,lavelga01,1985,1,TOR,AL,69,NaN,NaN,NaN,NaN,...,P,0,218,2,9,0,1,NaN,NaN,NaN
64,leonade01,1985,1,KCA,AL,2,NaN,NaN,NaN,NaN,...,P,0,6,0,0,0,0,NaN,NaN,NaN
66,martiti01,1985,1,BAL,AL,49,NaN,NaN,NaN,NaN,...,P,0,210,9,10,1,1,NaN,NaN,NaN
68,montejo01,1985,1,NYA,AL,3,NaN,NaN,NaN,NaN,...,P,1,21,1,1,0,0,NaN,NaN,NaN
71,ruhleve01,1985,1,CLE,AL,42,NaN,NaN,NaN,NaN,...,P,16,375,15,13,0,0,NaN,NaN,NaN
73,candejo01,1985,2,CAL,AL,13,NaN,NaN,NaN,NaN,...,P,13,213,2,8,1,0,NaN,NaN,NaN
81,flanami01,1985,1,BAL,AL,15,NaN,NaN,NaN,NaN,...,P,15,258,4,11,0,0,NaN,NaN,NaN
88,guidrro01,1985,1,NYA,AL,34,NaN,NaN,NaN,NaN,...,P,33,777,6,34,1,3,NaN,NaN,NaN
92,mcclubo01,1985,1,ML4,AL,38,NaN,NaN,NaN,NaN,...,P,1,257,3,11,0,2,NaN,NaN,NaN
100,mooredo01,1985,1,CAL,AL,65,NaN,NaN,NaN,NaN,...,P,0,309,4,12,2,1,NaN,NaN,NaN
104,vuckope01,1985,1,ML4,AL,22,NaN,NaN,NaN,NaN,...,P,22,338,5,14,1,1,NaN,NaN,NaN
108,haasmo01,1985,1,ML4,AL,27,NaN,NaN,NaN,NaN,...,P,26,485,17,15,4,1,NaN,NaN,NaN
110,langfri01,1985,1,OAK,AL,23,NaN,NaN,NaN,NaN,...,P,3,177,2,9,0,1,NaN,NaN,NaN
111,martide01,1985,1,BAL,AL,33,NaN,NaN,NaN,NaN,...,P,31,540,17,26,1,0,NaN,NaN,NaN
116,mcgresc01,1985,1,BAL,AL,35,NaN,NaN,NaN,NaN,...,P,34,612,13,26,1,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333,blackbu02,1985,1,KCA,AL,33,NaN,NaN,NaN,NaN,...,P,33,617,6,30,4,0,NaN,NaN,NaN
368,sanchlu01,1985,1,CAL,AL,26,NaN,NaN,NaN,NaN,...,P,0,184,3,11,1,1,NaN,NaN,NaN
376,wittmi01,1985,1,CAL,AL,35,NaN,NaN,NaN,NaN,...,P,35,750,16,33,2,2,NaN,NaN,NaN
383,boydoi01,1985,1,BOS,AL,35,NaN,NaN,NaN,NaN,...,P,35,817,42,41,1,2,NaN,NaN,NaN
389,codirch01,1985,1,OAK,AL,37,NaN,NaN,NaN,NaN,...,P,37,678,18,27,4,1,NaN,NaN,NaN
391,cowlejo01,1985,1,NYA,AL,30,NaN,NaN,NaN,NaN,...,P,26,479,6,22,3,1,NaN,NaN,NaN
392,davisst02,1985,1,BAL,AL,31,NaN,NaN,NaN,NaN,...,P,28,525,15,20,0,0,NaN,NaN,NaN
409,filsope01,1985,1,MIN,AL,40,NaN,NaN,NaN,NaN,...,P,6,287,3,13,2,0,NaN,NaN,NaN
415,heatone01,1985,1,CLE,AL,36,NaN,NaN,NaN,NaN,...,P,33,623,8,21,1,1,NaN,NaN,NaN
419,henketo01,1985,1,TOR,AL,28,NaN,NaN,NaN,NaN,...,P,0,120,3,3,0,0,NaN,NaN,NaN
430,mooremi01,1985,1,SEA,AL,35,NaN,NaN,NaN,NaN,...,P,34,741,21,43,2,1,NaN,NaN,NaN
439,nunezed01,1985,1,SEA,AL,70,NaN,NaN,NaN,NaN,...,P,0,271,5,12,0,1,NaN,NaN,NaN
446,smithmi03,1985,1,MIN,AL,37,NaN,NaN,NaN,NaN,...,P,37,771,16,28,2,4,NaN,NaN,NaN
449,terrewa01,1985,1,DET,AL,34,NaN,NaN,NaN,NaN,...,P,34,687,21,43,2,8,NaN,NaN,NaN
455,vandeed01,1985,1,SEA,AL,76,NaN,NaN,NaN,NaN,...,P,0,203,8,11,0,1,NaN,NaN,NaN
457,violafr01,1985,1,MIN,AL,36,NaN,NaN,NaN,NaN,...,P,36,752,6,33,5,0,NaN,NaN,NaN
463,ackerji01,1985,1,TOR,AL,61,NaN,NaN,NaN,NaN,...,P,0,259,10,16,0,1,NaN,NaN,NaN
465,atherke01,1985,1,OAK,AL,56,NaN,NaN,NaN,NaN,...,P,0,314,4,6,1,0,NaN,NaN,NaN
492,jacksda02,1985,1,KCA,AL,32,NaN,NaN,NaN,NaN,...,P,32,624,8,27,3,2,NaN,NaN,NaN
505,nippeal01,1985,1,BOS,AL,25,NaN,NaN,NaN,NaN,...,P,25,486,24,28,5,4,NaN,NaN,NaN
531,youngma01,1985,1,SEA,AL,37,NaN,NaN,NaN,NaN,...,P,35,655,6,24,1,1,NaN,NaN,NaN
539,clemero02,1985,1,BOS,AL,15,NaN,NaN,NaN,NaN,...,P,15,295,12,9,0,1,NaN,NaN,NaN
550,clibust02,1985,1,CAL,AL,44,NaN,NaN,NaN,NaN,...,P,0,297,8,17,0,3,NaN,NaN,NaN
568,gubicma01,1985,1,KCA,AL,29,NaN,NaN,NaN,NaN,...,P,28,532,23,26,0,4,NaN,NaN,NaN
600,langsma01,1985,1,SEA,AL,24,NaN,NaN,NaN,NaN,...,P,24,380,9,26,2,4,NaN,NaN,NaN
622,romanro01,1985,1,CAL,AL,31,NaN,NaN,NaN,NaN,...,P,31,585,10,18,1,0,NaN,NaN,NaN
624,saberbr01,1985,1,KCA,AL,32,NaN,NaN,NaN,NaN,...,P,32,706,22,38,2,4,NaN,NaN,NaN
642,birtsti01,1985,1,OAK,AL,29,NaN,NaN,NaN,NaN,...,P,25,424,0,11,1,1,NaN,NaN,NaN
673,higuete01,1985,1,ML4,AL,32,NaN,NaN,NaN,NaN,...,P,30,637,8,18,1,2,NaN,NaN,NaN
691,mccaski01,1985,1,CAL,AL,30,NaN,NaN,NaN,NaN,...,P,29,569,11,27,3,1,NaN,NaN,NaN

In [22]:
appearances = pd.read_csv('data/Appearances.csv')

In [24]:
merge4= pd.merge(merge3, appearances)

In [25]:
merge4

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
0,fingero01,1985,1,ML4,AL,47,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
1,lavelga01,1985,1,TOR,AL,69,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
2,leonade01,1985,1,KCA,AL,2,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
3,martiti01,1985,1,BAL,AL,49,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
4,mooredo01,1985,1,CAL,AL,65,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
5,hollaal01,1985,3,CAL,AL,15,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
6,stanlbo01,1985,1,BOS,AL,48,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
7,davisro02,1985,1,MIN,AL,57,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
8,beckwjo01,1985,1,KCA,AL,49,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
9,clearma01,1985,1,BOS,AL,41,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
10,quiseda01,1985,1,KCA,AL,84,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
11,righeda01,1985,1,NYA,AL,74,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
12,tellmto01,1985,1,OAK,AL,11,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
13,camacer01,1985,1,CLE,AL,2,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
14,corbedo01,1985,1,CAL,AL,30,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
15,sanchlu01,1985,1,CAL,AL,26,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
16,henketo01,1985,1,TOR,AL,28,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
17,nunezed01,1985,1,SEA,AL,70,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
18,vandeed01,1985,1,SEA,AL,76,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
19,ackerji01,1985,1,TOR,AL,61,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
20,atherke01,1985,1,OAK,AL,56,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
21,clibust02,1985,1,CAL,AL,44,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN

In [26]:
merge4 del
merge4 del

SyntaxError: invalid syntax (<ipython-input-26-bfc31ccea159>, line 1)